@keyframes blink {
  0% { color: white}
  80% { color: #8d8d8d;}
  100% { color: white }
 }
#musicSection {
  height: 100vh;
  width: 100%;
  background-color: black;
  text-align: center;
  display: none;
}
#preLoaderSection{
  background-color: black;
  height: 100vh;
  width: 100vw;
}
h1 {
  margin-top: 0%;
  padding-top: 5%;
  font-family: "Rajdhani", sans-serif;
  font-size: 50px !important;
  letter-spacing: 5px;
  color: #8d8d8d;
  letter-spacing: 12px;
  margin-bottom: 10% !important;
  text-align: center;
}
a {
  text-decoration: none !important;
}
.imageDiv {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.videoSection {
  margin: 0 auto;
  padding-bottom: 15%;
  width: 100%;
}
.preLoaderImage {
    background-position: center;
    height: 70%;
    padding-top: 40%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
.loadingText {
  color: white;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  animation: blink 1.2s infinite;
  font-family: 'Inconsolata', monospace;
}
.homeText {
  font-size: 20px;
  color: white;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none !important;
  position: relative;
  bottom: 0;
}
  /* Landscape View */
  @media (min-width: 568px) and (max-width: 739px) {

}

  /* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {

}

/* Desktop */
@media (min-width: 992px){
  .preLoaderImage{
      background-position: center;
      padding: 0%;
      height: 80vh;
      width: 50vw;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .loadingText {
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    animation: blink 1.2s infinite;
    font-family: 'Inconsolata', monospace;
  }
  #youtubeVideo {

    object-fit: fill;
  }

  #youtubeVideo1 {

    object-fit: fill;
  }
    

  #youtubeVideo2 {

    object-fit: fill;
  }
    

}

