@keyframes blink {
  0% { color: white}
  80% { color: #8d8d8d;}
  100% { color: white }
 }
#musicSection {
  width: 100%;
  background-color: black;
  text-align: center;
  display: none;
}
#preLoaderSection{
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.title {
  font-family: "Rajdhani", sans-serif;
  font-size: 80px !important;
  letter-spacing: 5px;
  color: #8d8d8d;
  letter-spacing: 20px;
  text-align: center;
}
a {
  text-decoration: none !important;
}
.imageDiv {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.videoSection {
  margin: 0 auto;
  padding-bottom: 15%;
  width: 100%;
}
.preLoaderImage {
    background-position: center;
    height: 70%;
    padding-top: 40%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
.loadingText {
  color: white;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  animation: blink 1.2s infinite;
  font-family: 'Inconsolata', monospace;
}
.iconSection {
  width: 100%;
  margin-bottom: 2%;
}
.socialIconMusic {
  height: 100%;
  width: 80px;
  opacity: .5;
  padding: 5px;
}
.mainImage {
  width: 300px;
}
.mediaSection{
  overflow: hidden;

}
.mediaTitle {
  margin-top: 13%;
  margin-bottom: 5%;
  font-size: 50px;
  color: #8d8d8d;
  letter-spacing: 12px;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}
.homeText{
  font-size: 20px;
  color: #8d8d8d;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
  margin-top: 3%;
  bottom: 0;
}
  /* Landscape View */
  @media (min-width: 568px) and (max-width: 739px) {


}

  /* Tablet View */
@media (min-width: 740px) and (max-width: 991px) {
  .preLoaderImage{
    background-position: center;
    padding: 0%;
    height: 80vh;
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

/* Desktop */
@media (min-width: 992px){
  .preLoaderImage{
      background-position: center;
      padding: 0%;
      height: 80vh;
      width: 50vw;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .loadingText {
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    animation: blink 1.2s infinite;
    font-family: 'Inconsolata', monospace;
  }
  #youtubeVideo {
    object-fit: fill;
  }
  #youtubeVideo1 {
    object-fit: fill;
  }
  #youtubeVideo2 {
    object-fit: fill;
  }
}

