.preloadBG{
  background-color: black;
}
.backgroundImage {
  background-image:url('./img/backgroundImage.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: left 15%;
  height: 130vh;
  width: 100%;
  position: relative;
  display: hide;
  background-color: black;
  }
.musicTitle {
left: 0;
position: absolute;
font-family: 'Rajdhani', sans-serif;
font-size: 40px;
margin-left: 10px;
letter-spacing: 5px;
opacity: .7;
margin-top: 4%;
}
.musicTitleLink :visited {
color:black;
}
.musicTitleLink :link {
  color: black;
}
.artTitle {
right: 0;
position: absolute;
font-family: 'Rajdhani', sans-serif;
font-size: 40px;
margin-right: 10px;
letter-spacing: 5px;
opacity: .7;
margin-top: 4%;
}
.clothTitle {
bottom: 35%;
left: 0;
position: absolute;
font-family: 'Rajdhani', sans-serif;
font-size: 40px;
margin-left: 10px;
letter-spacing: 5px;
opacity: .7;
}
.socialSection {
bottom: 33%;
right: 0;
position: absolute;
font-size: 40px;
margin-right: 10px;
margin-bottom: 40px;
opacity: .7;
width: 140px;
}
.socialIcon {
  height: 40px;
  width: 40px;
  margin-left: 25px;
}

/* Desktop */
@media (min-width: 992px){
  .loadingText {
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    animation: blink 1.2s infinite;
    font-family: 'Inconsolata', monospace;
  }
}