.preloadBG {
  background-color: black;
}
.backgroundImage {
  background-image: url("./img/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 15%;
  height: 130vh;
  width: 100%;
  position: relative;
  background-color: black;
}
.musicTitle {
  left: 0;
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  letter-spacing: 5px;
  margin-top: 4%;
  color: white;
}
.musicTitle :visited {
  color: white;
}
.musicTitle :link {
  color: white;
}
.artTitle :visited {
  color: white;
}
.artTitle :link {
  color: white;
}
.clothTitle :visited {
  color: white;
}
.clothTitle :link {
  color: white;
}
.artTitle {
  right: 0;
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  font-size: 25px;
  margin-right: 10px;
  letter-spacing: 5px;
  margin-top: 4%;
  color: white;
}
.clothTitle {
  bottom: 35%;
  left: 0;
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  letter-spacing: 5px;
  color: white;
}
.socialSection {
  bottom: 33%;
  right: 0;
  position: absolute;
  margin-right: 10px;
  margin-bottom: 40px;
  opacity: 0.7;
  width: 140px;
}
.socialIcon {
  height: 40px;
  width: 40px;
  margin-left: 25px;
}

/* Desktop */
@media (min-width: 992px) {
  .loadingText {
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    animation: blink 1.2s infinite;
    font-family: "Inconsolata", monospace;
  }
}
